@import "tailwindcss";

@layer utilities {
  .font-shayari {
    font-family: 'Rozha One', 'Yatra One', serif;
  }
}

/* Custom Marker Styling for Leaflet */
.custom-pin-marker {
  background: transparent;
  border: none;
}

.captain-marker {
  background: transparent;
  border: none;
}

/* Scrollbar clean styling */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #232d42;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #394867;
}
